.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="date"],
.form input[type="number"],
.form select,
.form textarea{
  border-radius: 3px;
  font-size: .95em;
  padding: 6px 8px;
  border: 1px solid #CCCCCC;
  margin:2px 0;
  width: calc(100% - 2px);
  background-image: linear-gradient(to bottom, #FFF, #FBFBFB);
  max-width: 100%;
  margin-right: 2px;
  font-family: Poppins;
}
.form select{
	padding:5px 8px!important;
}
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form select:focus,
.form textarea:focus{
	outline:0;
	border:1px solid gray;
}
.form label{
	display: block;
  padding: 4px 0;
  color:#000;
  font-size: .9em;
}
.form p{
  font-size:.9em;
}
input:disabled {
    background-color: #f7f7f7!important;
    background-image: none!important;
}
.form .title{
  text-align: center;
  font-size: 1.5em;
  padding: 10px 0;
}

/* BLOQUE DE LISTADO */
.list_items {
    border: 1px solid #cacaca;
    padding: 3px;
    background-color: #fff;
    max-height: 150px;
    overflow: auto;
}
.list_items li {
    list-style-type: none;
}