.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="date"],
.form select,
.form textarea{
  font-size:1em;
	padding:5px;
  border: 1px solid #CCCCCC;
  margin:2px 0;
  width:100%;
  background-image: linear-gradient(to bottom, #FFF, #FBFBFB);
  max-width: 100%;
}
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form select:focus,
.form textarea:focus{
	outline:0;
	border:1px solid gray;
}
.form button{
	color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: .9em;
  display: inline-block;
  border: 0;
}
.form button[type="submit"]{
	background-color: #4CAF50;
}
.form button[type="button"]{
	background-color: #9E9E9E;
}
.form label{
	display: block;
  padding: 4px 0;
  color:#000;
  font-size: .9em;
}
.form p{
  font-size:.9em;
}
input:disabled {
    background-color: #f7f7f7!important;
    background-image: none!important;
}
