/* VALORES POR DEFECTO */
@font-face{
	font-family: regular;
	src: url('../fonts/Roboto-Light.ttf');
}
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:regular;
}
body{
	font-size:.9em;
	height: 100vh;
}
.frmlogin{
	border-top:5px solid #4FA9E0;
	width:100%;
	max-width:340px;
	margin:10px auto;
	padding:20px;
	box-shadow:-1px -1px 10px #5a5a5a;
	background-color: #fff;
}
.frminstall{
	max-width: 520px!important;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.frmlogin-abs{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*margin-top: 15%;*/
}
.frmlogin h2{
	text-align:center;
	font-size:2em;
	padding-bottom:10px;
	color:#4FA9E0;
}
.frmlogin input[type="text"],
.frmlogin input[type="email"],
.frmlogin input[type="password"]{
	width:100%;
	padding:5px 10px;
	border:1px solid #efefef;
	font-size:1.1em;
	margin:10px 0;
	background-color: #fbfbfb;
}
.frmlogin input[type="checkbox"]{
	border:1px solid red;
}
.frmlogin button{
	padding:10px 15px;
	font-size:1.2em;
	font-weight:bold;
	background-color:#4FA9E0;
	color:#fff;
	border:0px;
	width:100%;
	margin:10px 0;
}
.frmlogin a{
	color:#4FA9E0;
	display: inline-block;
	padding: 0 5px;
}
.frmlogin p{
	text-align:center;
}
.frmlogin .center{
	text-align:center;
}
.frmmessage{
	margin:15px 0;
}
.frmlogin .warning{
	margin:15px 0;
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.frmlogin .alert{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.frmlogin ul li {
	margin-left:20px;
	padding:2px 0;
}
code{
	background-color: #fff;
	padding:0 3px;
	font-family:monospace;
	font-size:1.2em;
}
.link-back{
	position: relative;
    left: 50%;
    transform: translate(-50%,0);
    display: inline-block;
    color:#4fa9e0;
}
.cover-imagen-login{
	border-radius:50%;
	width:100px;
	height:100px;
	border:1px solid white;
	margin:0 auto;
}
.info{
	font-size: .8em;
}
.info_pass{
	display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
		width: 100%;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 101%;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    font-size: .9em;
}

.tooltip .tooltiptext::after { /* flechita */
    content: "";
    position: absolute;
    top: 20px;
    left: -5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

/*.tooltip:hover .tooltiptext,*/
.tooltip .pass:focus + .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.pass_valid{
	border: 1px solid #65c369!important;
	background-color: #c0ffc0!important;
}
.pass_invalid{
	border: 1px solid #ff6464!important;
  background-color: #ffc3c3!important;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
/* terminos y condiciones */
.terms {
    position:  absolute;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    max-width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 500px;
    overflow: auto;
		display: none;
}

.terms iframe {
    width: 100%;
    min-height: 400px;
}

.terms a.btnConfirm {
    display: block;
    background-color: #03A9F4;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    margin: 15px auto;
    text-align:  center;
    max-width: 70%;
}
.terms a.btnCancel{
	float: right;
}
.bg{
	width:100%;
	height:100vh;
	background-color: #000;
	opacity: .7;
	z-index: 1;
	position: absolute;
	display: none;
}
.notify {
    font-size: .85em;
    color: red;
}
