/* ESTRUCTURAS PRINCIPALES */
/* FONTS AWESOME */
.fa {
  display: inline-block;
  font-family: Awesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: #909090;
}
/* CABECERAS */
#wrap-menu{
	height:52px;
	background-color:#fff;
	position: fixed;
  width: 100%;
  z-index: 5;
}
.logo{
	background-color:#3A404B;
	width:160px;
	float:left;
	height:52px;
	position: relative;
}
.logo h1{
	font-size:.9em;
	text-align:center;
	padding:5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  width:100%;
}
.logo h1 a{
	color:#fff;
}
.bar{
	width:calc(100% - 160px);
	float:left;
	height:52px;
	padding:10px;
	position:relative;
	box-shadow: 2px -1px 5px 1px #A5A5A5;
}
/* SCROLL STYLES CSS3 */
#bar_style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #4b5260;
}

#bar_style::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#bar_style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3a404b;
}
/* CONTENIDO CENTRAL */
#wrap{

}
.items{
	background-color:#4B5260;
	width:160px;
	height:calc(100vh - 80px);
	position: fixed;
	top:52px;
	overflow: auto;
	padding-bottom: 50px;
}
#contenedor{
	float:right;
	width:calc(100% - 160px);
	padding:10px 5px;
	font-size:.9em;
	margin-top:52px;
	margin-bottom: 60px;
}
/* PIE DE PAGINA */
#footer {
	z-index: 4;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  height:28px;
  color: #999;
  text-align: center;
  background-color: #fff;
  font-family: light;
  font-size: .75em;
}

/* POST - OPCIONES */
#frm-posts-options{
	padding: 20px 30px;
	width: 100%;
	max-width: 650px;
	min-height: 400px;
}

/* EXPLORADOR DE ARCHIVOS */
.explorer{
	z-index:9998;
	display:none;
	max-width:860px;
	min-width: 400px;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	border: 0;
  position: fixed;
  background-color: #FBFBFB;
  box-shadow: 0 0 8px #000;
}
.explorer-header{
	border-bottom: 1px solid #e8e8e8;
	background-color: #fff;
	position:relative;
	font-family:regular;
	padding:3px 15px;
}
.explorer-header h3{
	color:#000;
}
.explorer-header #close{
	position:absolute;
	top:3px;
	right:15px;
}
.explorer-body{
	overflow:hidden;
	/*max-height:500px;*/
	font-family:regular;
	position:relative;
	min-height:450px;
	min-width: 600px;
}
.explorer-toolbar{
  padding: 10px 5px 0 5px;
  background-color: #f3f3f3;
	border:1px solid #f3f3f3;
	border-bottom:1px solid #C1C1C1;
}
.explorer-toolbar a{
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: -1px;
  font-size: .85em;
}
.explorer-toolbar a.selected{
	border: 1px solid #C1C1C1;
	border-bottom: 0px;
	background-color: #FBFBFB;
}
.explorer-body h3{
	margin-bottom:15px;
}
.explorer-body #imagestoselect{
	border: 1px solid #c3c3c3;
  overflow: auto;
  max-height: 220px;
	background-color: #e0e0e0;
}
.explorer-body ul.gallery-toselect li{
	width: 32.33%!important;
  min-width:initial!important;
  border: 1px solid#EDEDED;
  float: left;
  list-style-type: none;
  margin: 5px .5%;
  background-color: #fff;
  position:relative;
}
.explorer-body ul.gallery li{
	width: 15.66%;
  min-width: 125px;
  border: 1px solid#EDEDED;
  float: left;
  list-style-type: none;
  margin: 5px .5%;
  background-color: #fff;
  position:relative;
}
.explorer-body ul.gallery li span{
  font-size: .8em;
  text-align: center;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
	bottom: 0;
  height: 32px;
  background-color: #fff;
	padding: 4px 0;
	white-space: nowrap;
	font-family:regular;
	text-overflow: ellipsis;
}
.explorer-body ul.gallery li img.thumb{
	width:100%;
}
.explorer-body ul.gallery li a,
.explorer-body ul.gallery li label{
	display: block;
  color: gray;
  position: relative;
  overflow: hidden;
  height: 130px;
}
.explorer-body ul.gallery li:hover{
	/*border:1px solid gray;*/
	box-shadow: 0 0 5px gray;
}
.explorer-body #return-more-photos{
	position:absolute;
	right:15px;
	top:15px;
}
.explorer-body .gallery-toselect{
	max-height:380px;
	overflow:auto;
	border:1px solid #E8E8E8;
	background-color: #F9F9F9;
}
.explorer-body .preview{
	max-width: 400px;
	top:50%;
	left:50%;
	transform: translate(-50% , -50%);
	position: absolute;
}
.explorer-body .search-bar{
	border: none;
	padding: 4px;
	background-color: #fbfbfb;
	z-index: 2;
	width: 100%;
	border-bottom: 1px solid #d2d2d2;
}
.explorer-statusbar{
	border-top: 1px solid #C1C1C1;
  padding: 0 5px 0 5px;
  background-color: #E8E8E8;
  font-size:.85em;
}
.explorer-body-inner{
	padding: 10px;
}
.explorer-body-inner h4{
	padding: 8px 0;
}
.explorer-body .gallery-list{
	padding:5px 5px 5px 10px;
	max-height: 500px;
  overflow: auto;
}

/* VARIOS - VALIDADOR DE CAMPOS VACIOS */
.input_red{
	border:1px solid red!important;
}

/* EDITOR VISUAL DE PAGINAS */
.editor-main-title{
  margin: 20px 0 0!important;
  background-color: #03A9F4;
  padding: 5px 0;
  text-align: center;
  color:#fff!important;
}
.editor-main-title i{
  color:#fff;
}
/*#editor-box,
#editor-html{
	display: none;
}*/
/*.container-page-edit{
	margin: 0 auto;
	max-width: 1100px;
	width: 100%
}*/
.editor-window{
	position: fixed;
	width: 100%;
	max-width: 720px;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9998;
	background-color: #fff;
}
.editor-header{
	background-color: #03A9F4;
	padding: 10px;
}
.editor-header strong{
	color: #fff;
}
.editor-body{
	padding: 10px;
  background-color: #fbfbfb;
  position: relative;
  /*min-height: 300px;*/
}
.editor-body input[type="text"],
.editor-body textarea,
.editor-body select{
	width: 100%;
	padding: 4px 6px;
	margin: 6px 0;
  border: 1px solid #9E9E9E;
  word-break:break-all;
}
.editor-body label{
	display: block;
	padding: 4px 0;
	font-weight: bold;
  font-size: .9em;
}
.editor-body label span{
  /*display: block;*/
  margin-left: 8px;
  margin-bottom: 5px;
}
ul._box-options-list li {
    width: 20%;
    text-align: center;
    border: 1px solid #dadada;
    padding: 5px 0;
    float: left;
}

ul._box-options-list {
    max-height: 400px;
    overflow: auto;
}
.editor-footer {
  border-top: 1px solid #c7c7c7;
  background-color: #f1f1f1;
  padding: 7px 10px;
}
.spacing-right{
	padding-right: 5px;
}
.spacing-left{
	padding-left: 5px;
}
.boxes-options li a{
	padding: 5px 10px;
  display: block;
  background-color: #FBFBFB;
}
#boxes > li{
	list-style-type:none;
	border:4px solid #bdbdbd;
	background-color:#f9f9f9;
	margin: 15px 0;
	width: 100%;
}
.wrap-boton-new-block{
	padding: 15px 10px;
	width: 100%;
	display: block;
	background-color: #efefef;
}
.wrap-boton-new-block #boxNew{
	margin: 0 auto;
  display: block;
  width: 24px;
}
.box-header{
	padding:8px 10px;
	background-color:#bdbdbd;
	position:relative;
}
.box-header select,
.box-header label{
	margin: 0!important;
	width: auto!important;
	display: initial!important;
	padding: 0 5px!important;
}
.box-header label{
	float: right;
	margin-right: 10px!important;
}
.box-header .arrow-down{
	display:none;
}
.box-header .more{
	position:absolute;
	top:10px;
	right:20px;
	font-size:0.9em;
	text-decoration: none;
}
.box-header .toggle{
	position:absolute;
	top:10px;
	right:25px;
	font-size:0.9em;
	text-decoration: none;
}
.box-header .boxdelete{
	position:absolute;
  top: 6px;
  right: 12px;
	font-size:0.9em;
	text-decoration: none;
}
.box-body{
	padding:6px 3px;
}

.box-body label{
	padding:4px 0;
	display:block;
}
.box-body .col .col-head{
	position:relative;
	display:block;
	height:20px;
	padding: 0 10px;
	background-color:#e4e4e4;
}
.box-body .col .close-column{
	position:absolute;
	right:10px;
}
.box-body .cols-html{
	display: flex;
}
.cols-html > li {
  list-style-type: none;
  border: 5px solid #e4e4e4;
  background-color: #f9f9f9;
  margin: 5px 2px!important;
  width: 100%;
}
/*.cols-html li.saved{
  border-color: #607D8B;
}
.cols-html li.saved .col-head{
  background-color: #607D8B
}*/
.box-body .box-edit-options{
	padding: 50px 60px;
	text-align: center;
}
.box-body .box-edit-options a{
	border-radius: 15px;
	background-color: #2196F3;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	font-size: .75em;
}
.box-body .box-edit{
	padding: 10px;
	position: relative;
  min-height: 80px;
  overflow: hidden;
}
/* OPCIONES DE EDICION DE CADA CAJITA HTML */
.box-edit-html{
	position: relative;
	z-index: 1;
}
.box-edit-html:hover + .box-edit-tool,
.box-edit-tool:hover{
	display: block;
}
.box-edit-tool{
	position: absolute;
	background-color: #000;
	display: none;
  opacity: .6;
	z-index: 2;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.box-edit-tool a{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color:#fff;
  font-weight: bold;
  font-size: 1.2em;
}
.box-edit-tool a span {
    left: 50%;
    top: 50%;
    position:  absolute;
    transform: translate(-50%, -50%);
    color: #fff;
}
.col-box-edit{
	position: relative;
}
.col-box-edit img{
  max-width: 100%;
  height: auto;
}
/* MENU DE CADA BOX */
ul.box-options{
	float: right;
	margin-right: 35px;
}
.box-options li{
	display: inline-block;
	width:auto!important;
	margin: 0!important;
	position: relative;

}
.box-options li a{
	font-size: .9em;
	display: block;
}
.box-options li ul li a{
	padding: 5px 20px;
  border-bottom: 1px dotted gray;
}
.box-options li a:hover + ul.box-options-list,
ul.box-options-list:hover{
	display: block;
}
ul.box-options-list{
	position: absolute;
	display: none;
	z-index: 3;
	background-color: #fff;
  box-shadow:1px 1px 5px gray;
}
.box-options-list li{
	/*padding: 3px 15px;*/
	display: block;
}

/* PAGINA INICIAL DE WIDGET */
/*.column {
    width: 25%;
    float: left;
    padding-bottom: 100px;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }

.widgets{
	padding: 0 10px;
}*/
/* NEW EDITOR MENUS */
#items_menu li{
  border: 1px gray dotted;
  padding: 15px;
  width: 80%;
}

#editor-css-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
