/* table */
.tables
{
	width: 100%;
	text-align: left;
	clear: both;
    max-width: none!important;
    border-collapse: separate!important;
}
.tables th
{
	padding: 8px;
	font-size:.95em;
	color: #333;
}
.tables-cover{
	border: 1px solid #E8E8E8;
}
.tables th a{
	color:#4e4e4e;
	font-weight:bold;
}
.tables td iframe {
    max-width: 300px;
    width: 100%;
}

.tables td
{
	padding: .75rem;
	color: #575962;
	vertical-align: middle;
	font-size: 13px;
}
.tables .row-actions a {
    padding-right: 8px;
    font-size: 1.2em;
}
.tables .row-actions a.edit i{
	color:#03A9F4;
}
.tables .row-actions a.del i{
	color:#F44336;
}
.tables td img.image-table{
	max-width:50px;
	border:1px solid #CECECE;
}
.tables td h4{
	padding-top:5px;
}
.tables td h3{
	font-size:1em;
	color: #669;
}
.tables td a
{
	color:#2196F3;
	text-decoration:none;
}
.tables tr:hover td
{
	background: #ececec;
	color: #339;
	opacity:1;
}
.tables tr.spam{
	background-color:#FFCECE!important;
}
.tables tbody tr{
	border:1px solid red;
	padding:15px 0;
}
.tables tbody td a{
	font-size:.9em;
}
.tables tbody td a.del-color{
	color:red;
}
.options{
	padding-top:5px;
	visibility:hidden;
	font-size: .85em;
}
.options span{
	padding:0 10px;
	border-right:1px solid #E0E0E0;
}
.options span:first-child{
	padding-left:0;
}
.options span:last-child{
	border-right:0;
}
.tables tr:hover .options{
	visibility:visible;
}

.tables tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}