/* PRODUCT INFO PAGE ALONE */
.product {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 20px 10px;
}

.product-image {
    text-align: center;
}
.product-image img{
    max-width:300px;
}

.product-details {
    padding: 0 15px;
    margin-bottom: 25px;
}

.product-description {
    padding: 10px 0;
}

.product-price-now {
    font-size: 2.5em;
    padding: 10px 0;
}

.product-send {
    padding: 8px 0;
}


/* PRODUCT REQUEST */
.sections .section{
    padding:20px;
}
.sections .section h3{
    padding:10px 0 20px 0;
    text-align:center;
}
#s2, #s3{
    display:none;
}
.next{
    background-color: #0097A7;
    color:#fff;
    display: block;
    width: 150px;
    border-radius:10px;
    padding:5px;
    margin: 10px auto;
    text-align: center;
}
.sections .section p{
    padding: 5px 0;
}

/* PRODUCT LIST */
.item_cat{
  padding: 15px;
}
.products-category-title {
    padding: 20px 15px 5px;
    font-size: .95em;
}
.products-category-title h1{
    font-size: 1.4em;
    font-family: Light;
}
.products {
    padding: 10px 0;
}
.product-item {
    max-height: 399px;
    position: relative;
    border: 1px solid transparent;
    max-width: 90%;
    margin: 0 auto 20px;
    width: 100%;
}
.product-item-cover-img {
    height: 260px;
    background-size: cover;
    background-position: center;
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
}
.product-item-desc{
    text-align: center;
}
.product-item:hover {
    border: 1px solid #c3c3c3;
}
.product-item-desc h3 {
    padding: 8px 0;
    text-align: center;
    height: 52px;
    overflow: hidden;
    font-size: 1em;
    font-family:Light;
}
.product-item-before{
    display: block;
    color: gray;
    padding: 5px 0;
    height: 26px;
}
.product-item-price-before{
    text-decoration: line-through;
    display: block;
    color: gray;
    padding: 5px 0;
    height: 26px;
}
.product-item-price-now{
    font-family:Semibold;
    font-size: 1.4em;
}

.product-item-price {
    text-align: center;
    padding: 5px 0 10px;
    font-size: 80%;
}

.product-item-desc {
    padding: 4px 0 20px;
}
.product-discount {
    position: absolute;
    right: 0;
    background-color: #fff;
    padding: 10px;
}

/* LISTADO EN VISTA EN VERTICAL */
.view-vertical .product-item .product-item-cover-img {
    height: 133px;
    float: left;
    width: 40%;
}
.view-vertical .product-item .product-item-desc {
    float: right;
    width: 60%;
    padding: 0 10px;
}

.view-vertical .product-item {
    height: 133px;
}

.view-vertical .product-item-desc h3,
.view-vertical .product-item-desc .product-item-price{
    text-align:left
}

.view-vertical .product-discount {
    left:0;
    right:initial;
}

/* SHOPPING CART */
.cart_button{
  background-color: green;
  color:#fff;
  padding: 5px 15px;
  border-radius: 8px;
  display: inline-block;
  margin: 5px 0;
}
.cover-cart-items {
    overflow: auto;
    margin: 10px;
    border: 1px solid #e6e6e6;
}
.inner-cart h3{
  padding: 10px;
}
.btn-cart-next {
    background-color: #523e75;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    border: 0;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.cover-btn-cart {
    padding: 10px 10px 40px;
    text-align: right;
}
.cover-prepayment .user-info{
  padding: 10px;
}
.cover-prepayment .user-info .cols-6-md{
  padding-bottom: 10px;
}
.plm_warning {
    background-color: #E53935;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .btn-cart-next{
    width: 100%;
  }
}

/* ERROR MESSAGE */
.plm_error_message {
    padding: 50px 30px;
    text-align: center;
    font-size: 2em;
}

/* PRE SHOPING CART */
.block_wait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 8;
}

.block_wait_message {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.block_wait img {
    max-width: 100px;
}
.block_wait_message a {
    color: #fff;
    text-decoration: underline;
}

/* CATEGORY PAGINATION */
.category-pagination{
    background-color: #fff;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 20px;
    margin-top: -1px;
    padding-top: 20px;
}
.category-pagination ul{
    float: right;
    margin-right: 20px;
    margin-top: -16px;
}
.category-pagination ul li{
    float:left;
    border: 1px solid  #ddd;
    list-style-type:none;
    max-width:33px;
    margin-left: -1px;
    background-color:#fff;
}
.category-pagination ul li:first-child{
    border-radius:4px 0 0 4px;
}
.category-pagination ul li:last-child{
    border-radius: 0 4px 4px 0;
}
.category-pagination ul li a{
    padding: 6px 12px;
    display:block;
    font-size:.9em;
}
.category-pagination .page-disabled{
    cursor:not-allowed;
}
.category-pagination .page-disabled a{
    background-color:#F1F0F0;
    pointer-events: none;
}
.category-pagination a.page-resalt {
    font-weight:bold;
    pointer-events: none;
}

/* RESEÑAS FORM */
.product-review-form {
  background-color: #fbfbfb;
  padding: 10px 15px;
  border: 1px solid #f3f3f3;
  max-width: 600px;
  margin: 0 auto 30px;
}

.product-review-form h3 {
    margin: 10px 0;
}

ul.review-core-list input[type="radio"] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}
.review-core-list li {
    display: inline-block;
    position: relative;
}
.review-core-list {
    margin:10px 0;
}
.review-core-list li label{
  cursor:pointer;
}
.review-core-list li input[type="radio"]:checked + label i{
    color:#FFEB3B;
}
#preview-imgs li {
    display: inline-block;
    border: 1px solid gray;
    width:90px;
    height: 90px;
}

.cover-preview-imgs {
    border: 1px solid #cacaca;
    padding: 10px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
#preview-imgs li div {
    background-position: center;
    height: 100%;
    background-size: cover;
    position: relative;
}

#preview-imgs li div a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    font-weight: bold;
}

/* RESEÑAS LISTADO */
.review-detail-headers {
    background-color: #007cbb;
    text-align:center;
    color:#fff;
    padding:8px 5px!important;
    font-weight:bold;
    font-size:.95em;
    margin-bottom: 20px;
}
.review-user img {
    max-width: 60px;
    height: auto;
    margin: 10px auto;
    display: block;
}

.review-user {
    text-align: center;
}

.review-detail {
    padding:5px 10px;
}

.review-date {
    font-size: .8em;
    color: #737373;
}

.review-comment {
    padding: 10px 0;
}
.product-review-detail{
    margin-bottom: 50px;
}
.product-review-detail li {
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 1px solid #d6d6d6;
}

.product-review-detail li:last-child {
  border:0;
}
.review-score {
    color: #c1c1c1;
    font-size: .85em;
}
.review-score i {
    color: #FFEB3B;
}
.review-imgs a img {
    max-width: 90px;
    height: auto;
}

/* CATEGORIAS - MENU // SHORTCODE:PLM_LIST_CATEGORIES */

/* NAVEGACION */
.product-nav {
    padding: 20px 15px;
}

.product-nav a {
    color: gray;
}
.product-nav a:hover {
    text-decoration: underline;
}

/* PRODUCTO IMAGE AND GALLERYS */
.product-cover-image {
    height: 340px;
    width: 100%;
    position:relative;
}

.product-cover-image img{
    max-width:100%;
    max-height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

/* PRODUCTO INFO */
.product-info{
  padding: 10px 25px;
  margin-bottom: 20px;
}
.product-info h3{
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.product-price-info .cols-container{
  padding: 6px 0;
}
.highlight{
  font-family: Semibold;
  color: #ff8d38;
}
.product-type span {
    background-color: #a2a2a2;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
}


/* PRODUCTS VARIANTS */
.options_variants .cols-9-md a {
    border: 2px solid #e6e6e6;
    padding: 2px 5px;
    font-size: .8em;
    color: gray;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.isSelected{
  border: 2px solid #FF9800!important;
}
.notice {
    border: 2px solid gainsboro;
    padding: 10px 20px;
    color: gray;
    margin: 0 0 10px;
}
.cover_prices_range {
    padding: 5px 10px 10px;
}

span.price_range {
    color: #ff8d38;
    font-size: 1.4em;
    font-family: Semibold;
}

/* PRODUCTO CALCULATOR*/
.product-calculate {
    border-top: 1px solid #e0e0e0;
    margin: 0 25px;
    padding: 10px 0;
}
.product-calculate button{
    width:100%;
    background-color: #523e75;
    border:0;
    color:#fff;
    font-size:1.1em;
    font-family:Semibold;
    padding:10px 10px;
    display:inline-block;
    margin:20px 0;
    box-shadow: 1px 1px 5px gray;
}
.product-calculate button[disabled] {
    box-shadow: none;
    background-color: darkgrey;
}

.product-calculate .cantidad-botton {
    background-color: #523e75;
    width: 24px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.product-calculate #txtCantidad {
    font-size: 1em;
    text-align: center;
    vertical-align: bottom;
    max-width: 70px;
}
.product-total, .product-total span{
    font-size:1.2em;
    font-family:Semibold;
    color: #ff8d38;
}

.line-price .cols-7-md,
.line-quantity .cols-7-md{
    text-align: right;
}

.line-price h3, .line-quantity h3 {
    font-size: 1em;
}

.line-price, .line-quantity {
    margin-bottom: 12px;
}

ul.payment-feat li {
    font-size: .95em;
    padding: 5px 0;
    list-style-type: none;
    color: #545454;
}
.product-security-info img {
    width: 100%;
}
/* PROTECTION COMPRADOR */
.product-security-info {
    text-align: center;
    padding: 20px 0;
}

/* TABS AND DETAILS FROM PRODUCT */
.product-tabs {
    border-bottom: 2px solid #005E8E;
}

.product-tabs {
    border-bottom: 2px solid #005E8E;
}

.product-tabs a {
    padding: 10px 15px;
    display: inline-block;
    border-top:1px solid #cecece;
    border-left:1px solid #cecece;
    border-right:1px solid #cecece;
}
.product-tabs a.selected {
    background-color: #005E8E;
    color: #fff;
}
.cover-tabs {
    padding-right: 20px;
}
.product-description li {
    margin-left: 20px;
}
.product-description table {
  max-width: 100%!important;
  width:auto!important;
}

.product-description img{
    max-width: 100%;
    height:auto;
}

/* PRODUCTS RELATED */
.wrap_related {
    background-color: #f6f6f6;
}
.side-related .product-item a {
    display: block;
    background-color: #fff;
}
.side-related {
    padding: 40px 15px;
}
.side-related .product-item {
    margin: 20px 0;
    display: inline-block;
    width: 24%;
}

.side-related h4 {
    font-family: Light;
    font-size: 1.3em;
}

/* RESEÃ‘AS */
.review-login-before {
    background-color: #efefef;
    margin-bottom: 50px;
    border: 1px solid #e4e4e4;
    text-align: center;
    padding: 20px 10px;
}

.review-login-before h4 {
    color: #005e8e;
    font-size: 1.6em;
}

.review-login-before a {
    display: inline-block;
    margin: 20px 0 0;
    background-color: #005e8e;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 500px){
  .cover-tabs,
  .side-related{
    padding: 10px 15px;
  }
  .product-description{
    padding: 0;
  }
  .side-related .product-item{
    width: 100%;
  }
}
