@media screen and (max-width: 425px) {
  .cols > div{
    width: 100%!important;
    float: none!important;
  }
  .cols{
    display: block!important;
  }
  .block-left-content,
  .block-right-content,
  .block-left-sidebar,
  .block-right-sidebar{
    float: none;
    width: 100%;
    padding: 10px;
  }
}
