/* FUENTES */
@font-face{
	font-family: Awesome;
	src: url('../fonts/fontawesome-webfont.ttf');
}
@font-face{
	font-family: Light;
	src: url('../fonts/palanquin-light.ttf');
}
@font-face{
	font-family: Semibold;
	src: url('../fonts/palanquindark-bold.ttf');
}
.fa {
  display: inline-block;
  font-family: Awesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: #909090;
}
/* GENERALES */
a{
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	transition:all 200ms linear;
}
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family:Light;
}
h1, h2, h3, h4, h5, h6{
	color: #565656;
	font-family: Semibold;
}
body {
	background-color: #fff;
}
a{
	color:#4c4c4c;
	text-decoration:none;
}
.inner-content{
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}
.inner-content iframe{
	width: 100%;
  border: 0px;
	min-height: 300px;
}
.inner-content .cols{
    display: flex;
}
.inner-content .cols > div{
	list-style-type: none;
	float: left;
	width:100%;
}
.inner-content table{
	margin: 0 auto;
}
.img-responsive{
	max-width: 100%;
}
/* CLEAR */
.clear::before{
	display: table;
  content: " ";
}
.clear::after{
	display: table;
  content: " ";
	clear:both;
}
/* DEFAULT THEME */
/* frmsearch */
.frmsearch label{
	float:left;
	width: 80%;
}
.frmsearch input[type="text"]{
	width: 98%;
}
.frmsearch button{
	float: right;
	width: 20%;
}
/* sidebar */
.box{
	margin-bottom: 10px;
}
/* background home */
.bg-intro{
  /*background: url('../img/intro.jpg');
  background-size: cover;
  background-attachment: fixed;
	background-position: center center;*/
}
.bg-intro-inner{
  height: 100vh;
}
.wrap-titles{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(0, -50%);
}
.title-intro{
  font-size: 2.2em;
  color:#fff;
  text-shadow: 1px 1px 5px gray;
}
.subtitle-intro{
  font-size: 1.8em;
  color:#fff;
  text-shadow: 1px 1px 5px gray;
}

/* slides */
.slide{
	height: 400px;
	width: 100%;
}

/* pages */
.header-page{
  background: url('../img/intro.jpg');
  background-size: cover;
	background-position: center center;
}
.header-page-inner{
	padding: 80px 0;
}

/* footer */
.bg-footer{
  background-color:#000;
}
.bg-footer p{
  font-size: .8em;
  color:#fff;
}
.inner-footer{
  padding: 20px 0;
}
