.frmSapiensOrdersFisico,
.frmSapiensOrdersDigital {
	display: none;
	position:fixed;
	transform:translate(-50%, -50%);
	left:50%;
	top:50%;
	border: 1px solid #868686;
	width: 100%;
	z-index: 2;
	max-width: 500px;
	background-color: #fff;
	border-radius:15px;
}
.frmSapiensOrdersFisico {
    font-size: 90%;
}
.frmSapiensOrderHeader {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.frmSapiensOrderHeader img{
	max-width: 100%;
	height: auto;
}
.frmSapiensStep1,
.frmSapiensStep2,
.frmSapiensStep3{
    padding:30px;
}
.frmSapiensStep2{
    display:none;
    text-align: center;
}
.frmSapiensStep3{
    display:none;
    text-align: center;
}
.frmSapiensStep2 p,
.frmSapiensStep3 p {
    line-height: 26px;
    padding: 6px 0;
}
.frmBtn {
    background-color: #4f409b!important;
    color: #fff;
    margin: 10px 0!important;
    display:inline-block;
    padding: 4px 15px!important;
    border-radius:10px!important;
    border: 0!important;
    font-size: 1em!important;
}
.frmProductName {
    text-align: center;
    font-size: 1.4em;
    padding: 10px 0;
}
.frmCoverPrice,
.frmCoverInfo{
    padding: 10px 0;
    text-align: center;
}
.frmTotal{
	font-weight: bold;
}
p.frmCuenta {
    color: #fff;
    border-radius: 10px;
    background-color: #4f409b;
    padding: 10px 5px;
}
a.frmBtnWhatsapp {
    display: inline-block;
    color: #fff;
    padding: 2px 10px;
    background-color: green;
    border-radius: 10px;
    position: relative;
    padding-left: 40px;
}
a.frmBtnWhatsapp img {
    max-width: 36px;
    position: absolute;
    left: -3px;
    top: -3px;
}
span.frmUserName {
    font-family: semibold;
}
a.frmSapiensClose {
    position: absolute;
    top: -16px;
    right: -16px;
    z-index: 2;
    background-color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
a.frmSapiensClose i {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}