.wrap-content-list{
	font-size:1em;
}
.box-table-a{
	border:1px solid #f1f1f1;
}
.box-table-a th{
	text-align:center;
}
.deleteHighlight {
    background-color:red;
}
.add-pub{
	display:none;
}
.box{
	border-left:1px solid #F1F1F1;
	text-align:center;
}
.box:hover a.add-pub{
	display:block;
}
.box-table-a td{
	width:12.5%;
}
.del-pub{
	display:none;
}
.del-pub img{
	vertical-align:bottom;
}
.wrap-file:hover .del-pub{
	display:inline-block;
}
.wrap-file:hover .name-pub{
	font-weight: bold;
}
.ls_result {
    border: 1px solid #CCC;
    overflow: auto;
    max-height: 100px;
    display: none;
}
.ls_items li {
    border-bottom: 1px solid #CCC;
    margin: 0!important;
		padding: 2px;
}
.ls_items li a{
	font-size: .8em;
}
