.owl_list_item {
    border: 1px solid #b7b7b7;
    padding: 5px;
    margin-bottom: 5px;
}

.owl_back_list {
    border: 1px solid #b7b7b7;
    min-height: 300px;
    padding: 5px;
}

.owl_block_content {
    display: none;
}

.owl_list_item .edit, .owl_list_item .delete {
    float: right;
    padding: 2px;
    font-size: .8em;
    display: inline-block;
}
