.group_block_main::before{
    display: table;
    content: " ";
}
.group_block_main::after{
	display: table;
    content: " ";
	clear:both;
}
.group_block{
	float:left;
	width:25%;
}
.group_block h3{
	text-align:center;
	border-top:1px solid gray;
	border-left:1px solid gray;
	border-right:1px solid gray;
}
.group_block table th,
.group_block table td{
	font-size:.9em;
	border-right:1px solid gray;
	border-top:1px solid gray;
}
.group_block table { 
	width:100%;
    border-spacing: 0;
    border-collapse: separate;
    border-left:1px solid gray;
	border-bottom:1px solid gray;
}
.group_block .tcenter{
	text-align:center;
}
@media screen and (max-width: 1024px) {
	.group_block{
		width:50%;
	}
}
@media screen and (max-width: 1024px) {
	.group_block{
		float:none;
		width:100%;
	}
}/* TOTALES - CONGREGACION */.wrap-content-list-centered{	padding:5px;	max-width:650px;	width:100%;	margin:0 auto;}.list-hide{	padding:10px 0;	display:none;}.center{	text-align: center;}/* LISTADOS */.table-info{	font-family:light;	width: 100%;	text-align: left;	border-spacing: 0;	border-top:1px solid #F1F1F1;	border-left:1px solid #F1F1F1;	border-right:1px solid #F1F1F1;}.table-info th{	padding: 6px;	font-size:.95em;	background: #858D9A;	color: #fff;	border-bottom: 1px solid #E8E8E8;	text-align:center;}.table-info td{	padding: 4px;	color: #669;	border-bottom: 1px solid #F1F1F1!important;	vertical-align: top;}.table-info td a{	color:#2196F3;	text-decoration:none;}.table-info tr:hover td{	background: #F4F4F4;	color: #339;	opacity:1;}/* FORMATOS TEXTO */.text-red{	color:red;}