/* PAGINATION CATEGORY */
.pagination{
	background-color: #fff;
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 40px;
  margin-top: -1px;
}
.pagination ul{
	float: right;
  margin-right: 20px;
  margin-top: -16px;
}
.pagination ul li{
	float:left;
	border: 1px solid  #ddd;
	list-style-type:none;
	max-width:33px;
	margin-left: -1px;
	background-color:#fff;
}
.pagination ul li:first-child{
	border-radius:4px 0 0 4px;
}
.pagination ul li:last-child{
	border-radius: 0 4px 4px 0;
}
.pagination ul li a{
	padding: 6px 12px;
	display:block;
	font-size:.9em;
	color:#155095;
}
.page-disabled{
	cursor:not-allowed;
}
.page-disabled a{
	background-color:#F1F0F0;
	pointer-events: none;
}
a.page-resalt {
	font-weight:bold;
	pointer-events: none;
}
