.aula_cover_content h2 {
    text-align: center;
    margin: 20px 0;
}

.aula_content_path {
    text-align: center;
}
.aula_content {
    padding: 20px 15px;
}

ul.secciones li {
    display: inline-block;
}
ul.secciones li a{
    background-color:#515151;
    color:#fff;
    padding:5px;
    display:inline-block;
    border-radius:5px;
}

ul.secciones {
    text-align: center;
    margin: 20px 0;
}