/* PANEL USUARIO */
.info-active{
    background-color: red;
    color: #fff;
    padding: 3px 10px;
    font-size: .5em!important;
    position: absolute;
    right: 10px;
}
.btn-back{
	position:absolute;
	padding:8px 10px;
	right:20px;
	top:80px;
	font-size:.85em;
	border-radius:5px;
	border:1px solid #00557F;
}
.user{
	position:relative;
}
.user h3{
	padding:10px 0;
}
.user h1{
	padding:15px 10px;
	position:relative
}

.history,
.data,
.works{
	background-color:#fff;
	padding:5px 20px;
	border-left: 1px solid #eaeaea;
	margin-top: -1px;
	min-height:400px;
}
.history{
	display:none;
}
.no-read{
	font-weight:bold
}
.menu-user{
	margin-top:10px;
}
.menu-user li{
	list-style-type: none;
	height:44px;
	position:relative;
}
.menu-user li a{
	padding:12px 10px;
	display:block;
}
.menu-user li a.selected{
	position:absolute;
	width:101%;
	background-color:#fff;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
}

/* FORMULARIO */
form#userdata {
    max-width: 400px;
    margin: 0 auto;
}

/* FLOTANTE PARA MOSTRAR MENSAJE */
.winfloat{
	width:90%;
	min-height: 200px;
	position: absolute;
	z-index: 9998;
	transform:translate(-50%, -50%);
	left: 50%;
	top: 50%;
	background: #fff;
	max-width: 600px;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #000;
  }
