/* PANEL USUARIO */
.panels_user {
    padding: 20px;
    border-left: 1px solid #e6e6e6;
    min-height: 500px;
}
.panel{
  display: none;
}
.user h1{
	padding:15px 0;
	position:relative
}
.user{
	position:relative;
  padding: 10px;
}
.user h3{
	padding:10px 0;
}
.menu-user{
	margin-top:10px;
}
.menu-user li{
	list-style-type: none;
	height:44px;
	position:relative;
}
.menu-user li a{
	padding:12px 10px;
	display:block;
}
.menu-user li a.selected{
	position:absolute;
	width:101%;
	background-color:#fff;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
}
.no-read{
	font-weight:bold
}

@media (min-width: 320px) and (max-width: 480px) {
  .panels_user {
    border: 0;
    padding: 10px;
    overflow: auto;
  }

  .menu-user li a.selected{
  	position:absolute;
  	width:100%;
  	background-color: #ececec;
  	border: 1px solid #cacaca;
  }
  .winfloat{
    padding: 10px!important;
    overflow: auto;
  }
}

/* FORMULARIO */
#userdata {
    max-width: 400px;
    margin: 0 auto;
}

/* FLOTANTE PARA MOSTRAR MENSAJE */
.winfloat{
	width:90%;
	min-height: 200px;
	position: absolute;
	z-index: 9998;
	transform:translate(-50%, -50%);
	left: 50%;
	top: 50%;
	background: #fff;
	max-width: 600px;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #000;
}
