/* CATEGORIES LIST */
.categories_list li ul {
    margin-left: 20px;
}
ul.categories_list li > div {
    border: 1px solid #bbbbbb;
    padding: 8px;
    position: relative;
}

ul.categories_list li div .options {
    position: absolute;
    right: 10px;
}
ul.categories_list li .option {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* listado de reseñas */
.review-imgs a img {
    max-width: 60px;
    height: auto;
}
.review-imgs{
  padding: 5px 0;
}
.review-imgs div {
    display: inline-block;
    text-align:center;
}

.review-imgs div a {
    display:block;
}
