/* CATEGORIES LIST */
.categories_list li ul {
    margin-left: 20px;
}
ul.categories_list li > div {
    border: 1px solid #bbbbbb;
    padding: 8px;
    position: relative;
}

ul.categories_list li div .options {
    position: absolute;
    right: 10px;
}
ul.categories_list li .option {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* listado de reseñas */
.review-imgs a img {
    max-width: 60px;
    height: auto;
}
.review-imgs{
  padding: 5px 0;
}
.review-imgs div {
    display: inline-block;
    text-align:center;
}

.review-imgs div a {
    display:block;
}

/* variantes del producto */
.variants_header {
    background-color: #E0E0E0;
    text-align: center;
    font-weight: bold;
    padding: 3px 0;
}

/* seccion informacion */
.plm_backend_text .plm_logo{
  float:left;
  margin:0 10px 10px 0;
}
.plm_backend_text li{
  list-style-type: initial!important;
  margin-left:20px!important;
}
.plm_backend_text li,
.plm_backend_text p{
  font-size: .9em;
}

/* ORDERN DE PRODUCTOS */
.plm_products_order li {
  border: 1px solid #d4d4d4;
  margin: 5px 0;
  padding: 8px;
  background-color: #fff;
}