/* editor web version 3 */
/* boxex - cajas */
#boxes > li{
  background-color: #f3f3f3;
  border:1px solid #f3f3f3;
}
#boxes li .box-header{
  background-color: initial;
  padding: 6px 10px 0 10px;
}
#boxes li .box-header a{
  font-size: .8em;
  margin: 0 3px;
  color:#607D8B;
}
/* cols - columnas */
#boxes .cols{
  display: flex;
  padding: 5px 0 5px 5px;
}
#boxes .col{
  background-color: #e2e2e2;
  margin:0 5px 0 0;
  width: 100%;
}
#boxes .col-header{
	padding:8px 10px;
	position:relative;
}
#boxes .col-header a{
  font-size: .8em;
  margin: 0 3px;
  color:#607D8B;
}
#boxes .col-header .boxdelete{
	position:absolute;
  top: 6px;
  right: 12px;
	font-size:0.9em;
	text-decoration: none;
}
#boxes .col-body {
    padding: 0 8px 6px;
}
/* widgets */
#boxes .widget{
  background-color: #d6d6d6;
  margin: 0 0 10px 0;
}
#boxes .widget-header {
    padding: 4px 8px;
    position:  relative;
}
#boxes .widget-header a{
  font-size: .8em;
  margin: 0 3px;
  color: #607D8B;
}
/* widget save link */
.widgets li.saved,
#boxes li.saved{
  border-color: #90A4AE;
}
.widgets li.saved .widget-header,
#boxes li.saved .box-header{
  background-color: #90A4AE;
}
span.col-save-title {
    color: #263238;
    padding: 2px 3px;
    font-style: oblique;
}
