/* FORMULARIO UBICACION PROYECTO */
.CamposFiltro {
    max-width: 850px;
    margin: 20px auto 0;
}

.CamposFiltro label {
    color: #4F419B;
    line-height: 35px;
}

.CamposFiltro select {
    color: #fff;
    background-color: #4F419B;
}
.CamposFiltro div {
    display: inline-block;
    width: 24%;
}
.CamposFiltro button {
    background-color: #371E62;
    font-size: 1em;
    font-weight: 100;
}